---
import { getCollection } from 'astro:content';

import Base from '../layouts/Base.astro';
import FormattedDate from '../components/FormattedDate.astro';
import TimerToDate from '../components/TimerToDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base>
	<section class="heading">
		<div>
			<p style="font-size: 1.2em;">Добро пожаловать на конкурс Two Weeks Game!</p>

			<div>
				<TimerToDate
					date="2025-02-01T12:00:00+03:00"
					text="Срок отправки демоверсий"
					endText="Время для отправки демоверсий вышло"
				/>
			</div>

			<p style="margin-top: 10px; font-size: 1.5em;">
				<a href="https://forms.gle/bg2rmmVr4Fs4JUSA9" target="_blank"
					>&gt;&gt; Форма отправки игры &lt;&lt;</a
				>
			</p>

			<p>
				Основная цель конкурса заключается в том, чтобы за две недели сделать игру на заданную тему.
				Для нас не важен твой опыт работы, прямота твоих рук и наличие каких-либо способностей: мы
				просто хотим чтобы ты показал что ты любишь игры так же, как любим их мы, что ты полон
				свежих идей и готов к их воплощению любыми средствами, которые покажутся тебе уместными.
			</p>

			<p>
				Суть конкурса, в первую очередь, в том, чтобы все принимающие участие в нём получили от
				этого удовольствие и он оставил после себя приятные воспоминания, ну а уже потом — места на
				пьедестале и денежные призы.
			</p>
		</div>

		<!-- <nav class="heading__nav">
			<ul>
				<li><a href="/posts/11-results/">результаты</a></li>
				<li><a href="/posts/07-final/">финальные версии</a></li>
				<li><a href="/posts/05-demo/">демоверсии</a></li>
				<li><a href="/posts/04-start/">тема конкурса</a></li>
			</ul>
		</nav> -->
	</section>

	<section class="blog">
		<h3>Блог конкурса</h3>

		<ul class="posts">
			{
				posts.map(post => (
					<li class="post">
						<div>
							{/* prettier-ignore */}
							<a href={`/blog/${post.slug}/`} class="post__link">{post.data.title}</a>{' '}
							<FormattedDate date={post.data.pubDate} mini />
						</div>
						<div>
							{post.data.description ? `${post.data.description} – ` : ''}
							{/* prettier-ignore */}
							<a href={`/blog/${post.slug}/`} class="post__link">читать далее</a>
						</div>
					</li>
				))
			}
		</ul>
	</section>
</Base>

<style>
	.heading {
		text-align: center;

		border-bottom: 1px dashed var(--lightgray);

		padding-bottom: 10px;
	}

	.heading__nav {
		margin-top: 15px;
	}

	.heading__nav ul {
		padding: 0;
	}

	.heading__nav li {
		display: inline-block;
		list-style: none;
	}

	.heading__nav li:not(:first-child) {
		margin-left: 0.25em;
	}

	.heading__nav li:not(:first-child)::before {
		content: ' · ';
	}

	.highlight {
		text-transform: uppercase;
		font-weight: bold;

		&::before {
			content: '>> ';
		}

		&::after {
			content: ' <<';
		}
	}

	.blog {
		margin-top: 20px;
	}

	.posts {
		list-style: none;
		padding: 0;
	}

	.post {
		line-height: 1.8;
	}
	.post:before {
		display: inline-block;
		pointer-events: none;

		line-height: 100%;
		text-align: right;
		font-size: 0.8125em; /* 13px /16 */
		color: var(--darkgray);
	}
	.post:not(:first-child) {
		margin-top: 1em;
	}

	.post__link {
		text-underline-position: from-font;
		text-underline-offset: 0;
		text-decoration-thickness: 1px;
	}
</style>
