---
import { Image } from 'astro:assets';

import { SITE_TITLE } from '../consts';
import headerImage from '../assets/shared/header.webp';
---

<header class="header">
	<h1 class="header__title sr-only"><a href="/" rel="home">{SITE_TITLE}</a></h1>
	<div
		class="header__image"
		style={`--im-w: ${headerImage.width}px; --im-h: ${headerImage.height}px;`}
	>
		<a href="/" rel="home"><Image src={headerImage} alt={SITE_TITLE} /></a>
	</div>
</header>

<style>
	header {
		grid-area: header;

		border-bottom: 1px dashed var(--lightgray);
	}

	.header__title {
		text-align: center;
		font-size: 4.5em;
	}
	.header__title a {
		text-decoration: none;
	}
	.header__title a:hover,
	.header__title a:focus {
		text-decoration: underline;
	}

	.header__image a {
		display: block;
	}

	.header__image img {
		display: block;

		width: 100%;
		height: calc(100% / (var(--im-w) / var(--im-h)));

		object-fit: contain;
	}
</style>
